@charset "utf-8";
/* CSS Document */

.main{width:1140px; height:1067px; margin:0 auto;}
.main h2{height:144px; line-height:144px; font-size:27px;font-family:arial; color:#333; padding-top:27px;text-align:center;}
.main_1{height:275px;}
.main_1 .main_t{height:128px;}
.main_1 .main_t .t1{width:360px;height:128px;float:left;background:url(../images/ser-bg.png) no-repeat;margin-right:20px;}
.main_1 .main_t .t1 .logo{float:left;width:67px;height:123px;background-color:#ed5844; background-image:url(../images/s-icons.png); background-repeat:no-repeat; background-position:18px 43px;}
.main_1 .main_t .t1 .logo1{background-image:url(../images/s-icons.png); background-repeat:no-repeat; background-position:-66px 43px;}
.main_1 .main_t .t1 .logo2{background-image:url(../images/s-icons.png); background-repeat:no-repeat; background-position:-144px 43px;}
.main_1 .main_t .t1 .text{height:128px; width:270px;float:right;padding-left:23px;}
.main_1 .main_t .t1 .text h4{font-size:15px;font-family:arial;color:#595556;line-height:40px;height:40px;padding-top:10px;}
.main_1 .main_t .t1 .text p{font-size:13px;font-family:arial; color:#a8a8a8; line-height:20px;height:20px;}
.main_1 .main_b{height:128px;margin-top:20px;}
.main_1 .main_b .t1{width:360px;height:128px;float:left;background:url(../images/ser-bg.png) no-repeat;margin-right:20px;}
.main_1 .main_b .t1 .logo{float:left;width:67px;height:123px;background-color:#ed5844;background-image:url(../images/s-icons.png); background-repeat:no-repeat; background-position:22px -75px;}
.main_1 .main_b .t1 .logo3{background-image:url(../images/s-icons.png); background-repeat:no-repeat; background-position:-64px -70px;}
.main_1 .main_b .t1 .logo4{background-image:url(../images/s-icons.png); background-repeat:no-repeat; background-position:-144px -70px;}
.main_1 .main_b .t1 .text{height:128px; width:270px;float:right;padding-left:23px;}
.main_1 .main_b .t1 .text h4{font-size:15px;font-family:arial;color:#595556;line-height:40px;height:40px;padding-top:10px;}
.main_1 .main_b .t1 .text p{font-size:13px;font-family:arial; color:#a8a8a8; line-height:20px;height:20px;}
.main h3{height:86px; line-height:86px; font-size:27px;font-family:arial; color:#333; padding-top:42px;text-align:center;}
.main .main_box{width:1140;height:493px;}
.main .main_box .box1{ width:380px; height:189px; float:left;margin-bottom:46px;}
.main .main_box .box1 .eye{ width:100px; height:101px; background-color:#E7E4E4; margin-left:141px; background:url(../images/img-sprite.png) no-repeat; background-position:0 0;}
.main .main_box .box1 h4{ font-family:arial; font-size:17px; color:#313131;text-align:center; height:39px; line-height:39px; margin-top:3px;}
.main .main_box .box1 p{ font-family:arial; font-size:13px; color:#505050; text-align:center; line-height:23px;}
.main .main_box .box2{float:left; margin-bottom:46px;}
.main .main_box .box2 img{ width:380px; height:189px;}
.main .main_box .box1 .load{ width:100px; height:101px; background-color:#E7E4E4; margin-left:141px; background:url(../images/img-sprite.png) no-repeat; background-position:-100px 0;}
.main .main_box .box1 .page{ width:100px; height:101px; background-color:#E7E4E4; margin-left:141px; background:url(../images/img-sprite.png) no-repeat; background-position:-200px 0;}
.main .main_box .box1 .flag{ width:100px; height:101px; background-color:#E7E4E4; margin-left:141px; background:url(../images/img-sprite.png) no-repeat; background-position:-300px 0;}
.main .main_box .box1 .hand{ width:100px; height:101px; background-color:#E7E4E4; margin-left:141px; background:url(../images/img-sprite.png) no-repeat; background-position:-400px 0;}