<div class="main">
    <div class="inner">
        <div class="title"><span><strong>服饰内衣</strong> ></span><span>女装  ></span><span>羽绒服  ></span><span>波司登（BOSIDENG）  ></span><span>波司登（BOSIDENG  ></span>
        </div>
        <div class="cont">
            <div class="cont_left">
                <div class="cont_left_pic">
                    <ul>
                        <li><img src="images/TB1_400x400.jpg"></li>
                        <li class="hide"><img src="images/TB2_400x400.jpg"></li>
                        <li class="hide"><img src="images/TB3_400x400.jpg"></li>
                        <li class="hide"><img src="images/TB4_400x400.jpg"></li>
                    </ul>
                    <span></span>
                    <div class="datu">
                        <img src="images/700.jpg">
                        <img class="ba" src="images/700de.jpg">
                        <img class="ba" src="images/700.jpg">
                        <img class="ba" src="images/700de.jpg">
                    </div>
                </div>
                <ol>
                    <li><a href="javascript:;"><img src="images/TB1_50x50.jpg"></a></li>
                    <li><a href="javascript:;"><img src="images/TB2_50x50.jpg"></a></li>
                    <li><a href="javascript:;"><img src="images/TB3_50x50.jpg"></a></li>
                    <li><a href="javascript:;"><img src="images/TB4_50x50.jpg"></a></li>
                </ol>
            </div>
            <div class="cont_mid">
                <div class="cont_mid_t">
                    <div class="aaaa">
                        <h4>波司登（bosideng）羽绒服女款 时尚韩版修身显瘦带帽款 B1301200 12011(米白) 175/96A</h4>
                        <p>【同是好货，买一快的！京东自营】在性能和便携度中取得了两全 配备第六代四核i7处理器 升级全新1070显卡！</p>
                    </div>
                    <div class="bbbb"><p>京 东 价：<span>￥199.00</span><a href="#"> (降价通知)</a></p>
                        <p>促销信息：<span>
加价购 满2999.00另加169.00元，或满999.00另加69.00元，即可在购物车换购热销商品 </span><a href="#"> 详情 >></a></p>
                    </div>
                    <div class="dddd"><img src="images/asd_03_03.jpg"></div>
                </div>
                <div class="cont_mid_b clearfix">
                    <h5 class="clearfix">选着版本:</h5>
                    <ul class="clearfix">
                        <li><a href="javascript:;">2016冬季新款</a></li>
                        <li><a href="javascript:;">2016冬季新款</a></li>
                        <li><a href="javascript:;">2017冬季新款</a></li>
                        <li><a href="javascript:;">2017冬季新款</a></li>
                        <!--<li><a href="javascript:;">15.6英寸 新外星人 GTX1060 6G</a></li>-->
                        <!--<li><a href="javascript:;">15.6英寸 新外星人 GTX1070 8G</a></li>-->
                        <!--<li><a href="javascript:;">便携i7 双SSD GTX960 2G</a></li>-->
                        <!--<li><a href="javascript:;">17.3英寸 新外星人 GTX1070 8G</a></li>-->
                    </ul>
                </div>
                <div class="cont_mid_f clearfix">
                    <h6>增值保障:</h6>
                    <ul class="clearfix">
                        <li><a href="javascript:;">数据恢复1年 ￥499</a></li>
                        <li><a href="javascript:;">厂保延1年 ￥599</a></li>
                        <li><a href="javascript:;">意外修1年 ￥619 </a></li>
                    </ul>
                </div>
                <div class="btn">
                    <button type="button" ng-click="add2()">-</button>
                    <input type="text" value="1" ng-model="aa">
                    <button type="button" ng-click="add1()">+</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="buy" type="button" ng-click="add(products)">加入购物车</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="s2 clearfix">-->
    <!--<ul>-->
        <!--<li class="ww">推荐配件</li>-->
        <!--<li> 优惠套装</li>-->
        <!--<li>最佳组合</li>-->
    <!--</ul>-->
    <!--<ol>-->
        <!--<li><a href="javascript:;"><img src="images/cc_1_03.jpg"></a></li>-->
        <!--<li class="yy"><a href="javascript:;"><img src="images/bb_1_02.jpg"></a></li>-->
        <!--<li class="yy"><a href="javascript:;"><img src="images/aa_1_03.jpg"></a></li>-->
    <!--</ol>-->
<!--</div>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<div class="s3 clearfix"></div>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</body>
</html>